* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 80%;
  margin: auto;
}

.division {
  font-size: 10pt;
}
.division h2 {
  height: 30px;
  margin-top: 5px;
}
.division.bb-8 {
  background-color: #fa4;
}
.division.r2-d2 {
  background-color: #68f;
}
.division .wins, .division .losses {
  text-align: right;
}
.division .input {
  margin: 0;
  padding: 0;
}
.day > div {
  padding: 2px 5px;
}
.game {
  font-size: smaller;
}
.game.available {
  background-color: #888;
}
.game.inter {
  background-color: #9ef;
}
.game.bb-8 {
  background-color: #fa4;
}
.game.r2-d2 {
  background-color: #68f;
}
.hates {
  background-color: red;
}
.game .gameControl {
  display: none;
}
.game:hover .gameControl {
  display: block;
}
.game .unpinned:hover {
  opacity: 0.4;
}
.game .unpinned {
  opacity: 0.0;
}
.game .prepmove:hover {
  opacity: 0.4;
}
.game .prepmove {
  opacity: 0.0;
}
.winner {
  background-color: #66ccff;
}
.schedule table tr, .schedule table td {
  border: 2px solid black;
}
.time {
  color: white;
  background-color: black;
}
.day {
  background-color: #D56C5A;
}
.full {
  width: 100%;
  height: 100%;
}